audio:
    sampling_rate: 22050
    filter_length: 1024
    hop_length: 256
    win_length: 1024
    n_mel_channels: 80
    mel_fmin: 0.0
    mel_fmax: 8000.0
    max_wav_value: 32768.0

    pitch:
        f0_min: 71.0
        f0_max: 800.0
        use_log_scale: true

    energy:
        use_log_scale: true
