model:
    encoder:
        n_layers: 4
        d_model: 256
        d_state: 16
        d_conv: 4
        expand: 2
        dropout: 0.2

    decoder:
        n_layers: 4
        d_model: 256
        d_state: 16
        d_conv: 4
        expand: 2
        dropout: 0.2

    variance_adaptor:
        duration_predictor:
            n_layers: 2
            kernel_size: 3
            dropout: 0.5

        pitch_predictor:
            n_layers: 2
            kernel_size: 3
            dropout: 0.5
            n_bins: 256

        energy_predictor:
            n_layers: 2
            kernel_size: 3
            dropout: 0.5
            n_bins: 256
